.yAxis {
  /* border: 2px solid green; */
  display: flex;
  width: 100px;
  flex-direction: column;
  row-gap: 11px;
  top: 51px;
  left: 55px;
}

.temperatureLabel {
  position: absolute;
  transform: rotate(-90deg);
  top: 130px;
  left: 12px;
  font-weight: 500;
}

.chartBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  top: 0px;
  left: 104px;
  flex-wrap: wrap;
  overflow-x: scroll;
  width: 1322px;
  height: 315px;
}

.timeLabel {
  position: absolute;
  top: 260px;
  left: 50%;
  font-weight: 500;
}
.initial {
  /* border: 2px solid orange; */
  margin-left: 20px;
  margin-top: -8px;
  width: 434px;
  padding-left: 34px;
}
