.yAxis {
  position: absolute;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  top: 51px;
  left: 55px;
}

.temperatureLabel {
  position: absolute;
  transform: rotate(-90deg);
  top: 130px;
  left: -10px;
}

.chartBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 100px;
  flex-wrap: wrap;
  overflow-x: scroll;
  width: 1300px;
  height: 315px;
}

.timeLabel {
  position: absolute;
  top: 325px;
  left: 50%;
}
